@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

#some-thoughts-concerning-education{
	margin-top: 20vh;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#dedication > p:first-of-type{
	margin: 3em 0;
	text-align: center;
}

#dedication > p:nth-of-type(2),
#dedication > p:nth-of-type(3){
	text-indent: 0;
}

blockquote[xml|lang]{
	font-style: italic;
}
